<style>/* Add your custom styles here */
    .management_details {
        margin: 20px auto;
        width: 80%;
        max-width: 800px;
    }
    
    .management_details .student {
        width: 100%;
        border-collapse: collapse;
    }
    
    .management_details .student th,
    .management_details .student td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .management_details .student th {
        background-color: #f2f2f2;
    }
    
    .management_details .student tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .management_details .student tr:hover {
        background-color: #ddd;
    }
    
    .management_details .field_name {
        font-weight: bold;
    }
    
    .management_details .field_value {
        font-style: italic;
    }
    
    /* Adjustments for responsiveness */
    @media only screen and (max-width: 600px) {
        .management_details .student {
            font-size: 14px;
        }
    }
    </style>


<%- include('../public/management_page/management_header.ejs') %> 
    <main class="management_details">
        <br><br><br>
        <table class="student">
            <% if (locals.Details) { %>
            <tr>
                <th class="table_name" colspan="2">Management Details</th>
            </tr>
            <tr>
                <td class="field_name">ID : </td>
                <td class="field_value"><%=Details.management_id%></td>
            </tr>
            <tr>
                <td class="field_name">Name : </td>
                <td class="field_value"><%=Details.firstname%>&nbsp;<%=Details.middle_lastname%></td>
            </tr>
            <tr>
                <td class="field_name">DOB / Gender : </td>
                <td class="field_value"><%=Details.dob%>&nbsp;/&nbsp;<%=Details.gender%></td>
            </tr>
            <tr>
                <td class="field_name">Mother name : </td>
                <td class="field_value"><%=Details.mothername%></td>
            </tr>
            <tr>
                <td class="field_name">Father name : </td>
                <td class="field_value"><%=Details.fathername%></td>
            </tr>
            <tr>
                <td class="field_name">Address : </td>
                <td class="field_value"><%=Details.address%></td>
            </tr>
            <tr>
                <td class="field_name">Email : </td>
                <td class="field_value"><%=Details.email%></td>
            </tr>
            <tr>
                <td class="field_name">Contact number : </td>
                <td class="field_value"><%=Details.tel_num%></td>
            </tr>
            <% } %>
        </table>
        <br><br><br>

<script>
    document.getElementById("student_attendance").addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex];
        var url = selectedOption.value;
        if (url !== "#") {
            window.location.href = url;
        }
    });
    document.getElementById("student_marks").addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex];
        var url = selectedOption.value;
        if (url !== "#") {
            window.location.href = url;
        }
    });
    document.getElementById("student_Details").addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex];
        var url = selectedOption.value;
        if (url !== "#") {
            window.location.href = url;
        }
    });
    document.getElementById("student_feeDetails").addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex];
        var url = selectedOption.value;
        if (url !== "#") {
            window.location.href = url;
        }
    });
</script>